[submodule "lib/AccelStepper"]
	path = lib/AccelStepper
	url = https://github.com/youseetoo/AccelStepper.git
	branch = master
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
	branch = 6.x
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
	branch = master
[submodule "lib/arduinoWebSockets"]
	path = lib/arduinoWebSockets
	url = https://github.com/youseetoo/arduinoWebSockets.git
[submodule "lib/PSController"]
	path = lib/PSController
	url = https://github.com/youseetoo/PSController.git
